<!DOCTYPE html>
  <%- include('../partials/head'); %>
  <body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
      <div class="jumbotron">
          <h1>Sobre mim</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nihil sunt consectetur fugit labore dolorum reprehenderit expedita suscipit, omnis alias, illo autem quae quisquam, voluptate tempore quidem necessitatibus eligendi deleniti!
          </p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>